beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
elementpath==1.1.7
Flask==1.0.2
Flask-SQLAlchemy==2.4.0
graypy==1.1.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.3
MarkupSafe==1.1.1
mpmath==1.1.0
praw==6.3.1
prawcore==1.0.1
requests==2.21.0
psycopg2==2.4.4
selenium==3.141.0
six==1.12.0
soupsieve==1.9
SQLAlchemy==1.3.5
telnetlib3==1.0.2
update-checker==0.16
urllib3==1.24.3
websocket-client==0.56.0
Werkzeug==0.15.2
xmlschema==1.0.10
